/* This stylesheet is meant for custom styles, on top of the Bone Template */
.content.text h4,
.content.text h3 {
  color: #eddf06 !important;
}

.bg.faded._5 {
  opacity: 0.5;
}

.bg.faded._5 {
  opacity: 0.5;
}

.slider ul.slides li.slide.dark.screen {
  background: #4c564b70;
}

.content.text._right {
  margin-left: 335px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ffee00;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .content.text._right {
    margin-left: 0;
  }
}

.mediPlayer svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.flex-inline {
  display: flex;
  align-items: center;
  position: absolute;
}

/* .affix-top .mediPlayer svg {
  margin-top: 25px;
} */

img.dark-brand,
img.light-brand {
  width: 100px;
  /* margin-top: 10px; */
}

header.affix .flex-inline {
  margin-top: 10px;
}

/* header.affix-top .flex-inline {
    margin-top: 35px;
} */

header .menu {
  margin: 0 !important;
}

.container.shop {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
