/* This stylesheet is meant for custom styles, on top of the Bone Template */
.content.text h4,
.content.text h3 {
  color: #eddf06 !important;
}

.bg.faded._5 {
  opacity: 0.5;
}

.bg.faded._5 {
  opacity: 0.5;
}

.slider ul.slides li.slide.dark.screen {
  background: #4c564b70;
}

.content.text._right {
  margin-left: 335px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  display: block;
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .content.text._right {
    margin-left: 0;
  }
}

.mediPlayer svg {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.flex-inline {
  display: flex;
  align-items: center;
  position: absolute;
}

/* .affix-top .mediPlayer svg {
  margin-top: 25px;
} */

img.dark-brand,
img.light-brand {
  width: 100px;
  /* margin-top: 10px; */
}

/* header.affix .flex-inline {
  margin-top: 10px;
} */

/* header.affix-top .flex-inline {
    margin-top: 35px;
} */

header .menu {
  margin: 0 !important;
}

.container.shop {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

iframe #main .af {
  background-color: #85c5e2 !important;
}

iframe .at {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(26 73 95)) !important;
  padding: 2% !important;

}

iframe .dx {
  border-radius: 10px !important;
}

#cursor {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2a2a2a;
  border-radius: 50%;
  position: fixed;
  margin: -30px 0 0 -30px;
  z-index: 1000;
  pointer-events: none;
}

#cursor span {
  color: #2a2a2a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0;
}